<<<<<<< HEAD
.art {
    padding: 180px 0;
  background-color: $bg-color;
  @include mediaPhone($mobile){
    padding: 40px 0;
  }
}

.art__wrp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-areas:
    "b a a d"
    "b c c d";
    @include mediaTablet($tablet){
      gap: 10px;
    }
}
.art__item {
  overflow: hidden;
  border-radius: 20px 0px;
  img {
    object-fit: cover;
    transition: transform .2s ease-in;
  }
}

.art__item.art__item_center {
  grid-area: c;
  position: relative;
  transition: color .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #1c1b21, $alpha: 0.5);
    z-index: 1;
  }
  .art__item-link {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @include font-size(24px,700,$line-height);
    @include mediaPhone($mobile){
      @include font-size(18px,700,$line-height);
    }
    color: $accent;
    cursor: pointer;
     z-index: 2;
  }
}

.art__item_center:hover{
  .art__item-link {
    color: $white;
  }
   img{
    transform: scale(1.2);
  }
  &::before{
    background-color: rgba($color: #1c1b21, $alpha: 0.3);
  }
}

.art__item_left {
  grid-area: b;
}

.art__item_right {
  grid-area: d;
}
=======
.art {
    padding: 180px 0;
  background-color: $bg-color;
  @include mediaPhone($mobile){
    padding: 40px 0;
  }
}

.art__wrp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-areas:
    "b a a d"
    "b c c d";
    @include mediaTablet($tablet){
      gap: 10px;
    }
}
.art__item {
  overflow: hidden;
  border-radius: 20px 0px;
  img {
    object-fit: cover;
    transition: transform .2s ease-in;
  }
}

.art__item.art__item_center {
  grid-area: c;
  position: relative;
  transition: color .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #1c1b21, $alpha: 0.5);
    z-index: 1;
  }
  .art__item-link {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @include font-size(24px,700,$line-height);
    @include mediaPhone($mobile){
      @include font-size(18px,700,$line-height);
    }
    color: $accent;
    cursor: pointer;
     z-index: 2;
  }
}

.art__item_center:hover{
  .art__item-link {
    color: $white;
  }
   img{
    transform: scale(1.2);
  }
  &::before{
    background-color: rgba($color: #1c1b21, $alpha: 0.3);
  }
}

.art__item_left {
  grid-area: b;
}

.art__item_right {
  grid-area: d;
}
>>>>>>> 62ba4572a024b3e26dde46385c9bf623eaef7760
