<<<<<<< HEAD
.card {
  width: 350px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: transform .2s ease-in;
  &:hover{
    transform: scale(1.10);
  }
}
.card__text {
  position: relative;
  width: 100%;
  border-radius: 20px 0px;
  @include font-size(16px,500,$line-height);
  z-index: 1;
  padding: 21px 20px;
  background-color: rgba($color: $accent, $alpha: 0.7);
  &:hover{
    color:$white;
  }
}
.card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  border-radius: 20px 0px;
}

=======
.card {
  width: 350px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: transform .2s ease-in;
  &:hover{
    transform: scale(1.10);
  }
}
.card__text {
  position: relative;
  width: 100%;
  border-radius: 20px 0px;
  @include font-size(16px,500,$line-height);
  z-index: 1;
  padding: 21px 20px;
  background-color: rgba($color: $accent, $alpha: 0.7);
  &:hover{
    color:$white;
  }
}
.card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  border-radius: 20px 0px;
}

>>>>>>> 62ba4572a024b3e26dde46385c9bf623eaef7760
