.footer {
  padding-top: 180px;
  @include mediaTablet($tablet) {
    padding-top: 60px;
  }
}
.footer__wrp {
  margin: 0 auto;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  margin-bottom: 65px;
}
.footer__contacts {
  display: flex;
  column-gap: 30px;
  text-transform: uppercase;
  @include mediaPhone($mobile) {
    column-gap: 15px;
  }
}
.footer__contacts-left {
  @include font-size(18px, 600, $line-height);
  text-align: right;
  @include mediaPhone($mobile) {
    @include font-size(12px, 600, $line-height);
    white-space: wrap;
  }
}
.footer__contacts-right {
  @include font-size(18px, 400, $line-height);
  @include mediaPhone($mobile) {
    @include font-size(12px, 600, $line-height);
  }
}
.footer__socials {
  display: flex;
  column-gap: 30px;
  padding: 60px 0;
  @include mediaPhone($mobile) {
    display: grid;
    grid-template-columns: 64px 64px 64px;
    gap: 10px;
  }
}
.footer__socials-item {
  padding: 8px;
  border-radius: 50%;
  background-color: #2c2c2c;
  overflow: hidden;
}
.footer__socials-link {
  display: block;
  padding: 12px;
  background-color: $accent;
  border-radius: 50%;
  transition: 0.2s ease-in;
  &:hover {
    transform: scale(1.4);
  }
}

.footer__rights {
}
.footer__rights-text {
  @include font-size(13px, 400, $line-height);
  color: rgba($color: $white, $alpha: 0.5);
}
