<<<<<<< HEAD
.header {
  padding-top: 30px;
  background-image: url("./../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $accent;
}
.header__top-row {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mediaTablet($tablet) {
    justify-content: center;
    column-gap: 30px;
  }
  @include mediaPhone($mobile){
    justify-content: space-between;
  }
}
.header__logo {
  min-width: 223px;
}
.header__nav {
  //margin-top: -4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  @include mediaTablet($tablet) {
    gap: 20px;
  }
  @include mediaPhone($mobile) {
    display: none;
  }
}

.header__nav-btn {
  display: none;
  @include mediaPhone($mobile) {
    display: block;
  }
}

.header__nav-item {
  position: relative;
  @include font-size(18px, 600, 150%);
  @include mediaTablet($tablet) {
  @include font-size(14px, 600, 150%);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 0px;
    height: 4px;
    border-radius: 15px;
    background-color: rgba($color: $accent, $alpha: 1);
    //visibility: hidden;
    transition: 0.2s ease-in;
  }
  &:hover {
    &::before {
      //visibility: visible;
      width: 100%;
    }
  }
}
.header__cards {
  display: flex;
  justify-content: space-between;
  transform: translate(0, 50%);
  @include mediaTablet($tablet) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    transform: translateY(150px);
  }
}

.header__content {
  margin-top: 322px;
  @include mediaTablet($tablet){
    margin-top: 150px;
  }
}
.header__title {
  margin-top: 10px;
  margin-bottom: 50px;
  @include mediaTablet($tablet){
    margin-bottom: 20px;
  }
}

.header__top-row_mobile {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $accent, $alpha: 0.9);
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__top-row_mobile .header__nav {
  flex-direction: column;
  row-gap: 30px;
  display: flex;
}
.header__top-row_mobile .header__nav-btn {
  position: fixed;
  top: 55px;
  right: 15px;
}
=======
.header {
  padding-top: 30px;
  background-image: url("./../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $accent;
}
.header__top-row {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mediaTablet($tablet) {
    justify-content: center;
    column-gap: 30px;
  }
  @include mediaPhone($mobile){
    justify-content: space-between;
  }
}
.header__logo {
  min-width: 223px;
}
.header__nav {
  //margin-top: -4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  @include mediaTablet($tablet) {
    gap: 20px;
  }
  @include mediaPhone($mobile) {
    display: none;
  }
}

.header__nav-btn {
  display: none;
  @include mediaPhone($mobile) {
    display: block;
  }
}

.header__nav-item {
  position: relative;
  @include font-size(18px, 600, 150%);
  @include mediaTablet($tablet) {
  @include font-size(14px, 600, 150%);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 0px;
    height: 4px;
    border-radius: 15px;
    background-color: rgba($color: $accent, $alpha: 1);
    //visibility: hidden;
    transition: 0.2s ease-in;
  }
  &:hover {
    &::before {
      //visibility: visible;
      width: 100%;
    }
  }
}
.header__cards {
  display: flex;
  justify-content: space-between;
  transform: translate(0, 50%);
  @include mediaTablet($tablet) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    transform: translateY(150px);
  }
}

.header__content {
  margin-top: 322px;
  @include mediaTablet($tablet){
    margin-top: 150px;
  }
}
.header__title {
  margin-top: 10px;
  margin-bottom: 50px;
  @include mediaTablet($tablet){
    margin-bottom: 20px;
  }
}

.header__top-row_mobile {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $accent, $alpha: 0.9);
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__top-row_mobile .header__nav {
  flex-direction: column;
  row-gap: 30px;
  display: flex;
}
.header__top-row_mobile .header__nav-btn {
  position: fixed;
  top: 55px;
  right: 15px;
}
>>>>>>> 62ba4572a024b3e26dde46385c9bf623eaef7760
