<<<<<<< HEAD
.our-events {
  background-color: $bg-color;
}

.our-events__wrp {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
=======
.our-events {
  background-color: $bg-color;
}

.our-events__wrp {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
>>>>>>> 62ba4572a024b3e26dde46385c9bf623eaef7760
