<<<<<<< HEAD
.tracks {
}
.tracks__line {
  margin-bottom: 50px;
}
.tracks__list {
  @include font-size(18px, 400, $line-height);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.tracks__item {
  transition: color 0.2s ease-in;
  &:hover {
    a,
    span {
      color: $accent;
    }
  }
}
.tracks__link {
  @include font-size(18px, 400, $line-height);
}

.tracks__item-number {
  @include font-size(14px, 700, $line-height);
  color: rgba($color: $white, $alpha: 0.5);
  padding-right: 20px;
}
=======
.tracks {
}
.tracks__line {
  margin-bottom: 50px;
}
.tracks__list {
  @include font-size(18px, 400, $line-height);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.tracks__item {
  transition: color 0.2s ease-in;
  &:hover {
    a,
    span {
      color: $accent;
    }
  }
}
.tracks__link {
  @include font-size(18px, 400, $line-height);
}

.tracks__item-number {
  @include font-size(14px, 700, $line-height);
  color: rgba($color: $white, $alpha: 0.5);
  padding-right: 20px;
}
>>>>>>> 62ba4572a024b3e26dde46385c9bf623eaef7760
